Repository MeltStudio/melt-semantic-release-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn eslint --max-warnings=0 --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,hbs,html,mjml,css,scss,json,graphql,yml,yaml,md}": [
    "prettier --write"
  ],
  "**/*.{js,jsx}": ["yarn eslint --max-warnings=0 --fix"]
}

chore: add husky hooks
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

ci: add ci flow
  .github/workflows/_code_checks.yaml
  .github/workflows/_lint_commits.yaml
  .github/workflows/_sem_release.yaml
  .github/workflows/main.yaml
  .github/workflows/prs.yaml
Due: prettier --write

feat: intial release
  .github/workflows/main.yaml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd019ef41731ab94194e36a5c2f829682dc2d32a
Due: none

fix: remove prepare script
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8e3eb8e3589fd0444fd99ed31d2e3596e99b71ae
Due: none

fix: add .npmrc
  .npmrc
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc86a368d485f8833536098bfc74969304f5c063
Due: none

fix: add scope in .npmrc
  .npmrc
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fb2972c380e6d16beb8bd5f9231a8baa58b7b746
Due: none

fix: add README.md
  README.md
Due: prettier --write

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d3069c43f14130bedeb6ebda673bf589d58ca924
Due: none

fix: update README.md
  README.md
Due: prettier --write

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a30107bf1e9d4d3a4d3167bc7028eb242a43487
Due: none

fix: use module.exports for prepare
  lib/prepare.js
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3ee8ad3f7e24856093fcb44ea79d8a8aa5f09a4e
Due: none

chore: remove commitizen
  .czrc
  package.json
  yarn.lock
Due: prettier --write

ci: fix node version in lint commits
  .github/workflows/_lint_commits.yaml
Due: prettier --write

fix: remove stdout pipe
  lib/prepare.js
  lib/yarn-utils.js
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore: use @meltstudio/eslint-config
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f7ac5d0ddda20f51c3b4441f7ab374e7bbe09e13
Due: none

chore: add LICENSE
  LICENSE
Due: none

feat: add config to opt-out of replacing internal versions
  lib/prepare.js
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3cccf349914178a002da7060958ce45e0d8a1308
Due: none

chore: update README to include config options
  README.md
Due: prettier --write

fix: improve the workspaces parsing logic and logging
  lib/prepare.js
  lib/yarn-utils.js
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b4ef0bed561aba7dd33dbab0395c5560a86241ca
Due: none

feat: use @manypkg/get-packages to support npm and pnpm
  README.md
  lib/prepare.js
  lib/yarn-utils.js
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5ec20f29b470c9e37f84af38b180d5b7b0b63c63
Due: none
